/* BASIC STYLES HERE */
body {
  background-size: cover;
  
}
.vis{
  color: white;
  text-shadow: 2px 2px black
}
.hide{
  opacity: 0;
  transition: all .5s ease;
}

.hide-container:hover .hide{
  opacity: 1;}

  .time-window{
    height: 60vh
  }